
.thumb { height:50px;}
.sidebar {  display: flex;
    flex-direction: column;
    /*background-color: red;*/
    width: 120px;
}
.thumbdiv {
    width: 100px;
    margin: 10px;
    text-align: center;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {font-family: 'Montserrat', sans-serif;}


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /*border: 2px solid yellow;*/
}
